body{
    font-family: 'Hind Madurai', sans-serif;
font-family: 'IBM Plex Serif', serif;
font-family: 'Island Moments', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Roboto Slab', serif;
font-family: 'Tajawal', sans-serif;
}